/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.thumbnail {

	min-height: 350px;
}


.logo-branding {

	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #999;
}

h1 b {

	color: #3399ff;
}

.content-link {

	position: relative;
	left: 30px;
}

.container {

	margin: 10px 10% 10px 10%;
}

.container-form {

	padding: 20px 0 20px 0;
}

.container-form-content {

	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
}

.container-navbar {

	padding:0px;
	margin: 10px 10% 0px 10%;
}

.container-posting {

	margin-top: 5%;
}

.container-content {

	margin: 0 10% 10px 10%;
}

.container-posting-photo {

	margin: 10px 0px 20px 0px;
}

a:hover {

	color: red;
	text-decoration: none;
}

a:active {

	color: red;
	text-decoration: none;
}

.container-header {

	height: 31px;
	width: 100%;
	background-color: #3399ff;
	color: white;	
}