<!DOCTYPE html>
<html>
<head>
  <title>Buynsell</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <script src="/assets/javascripts/bootstrap.js"></script

</head>
<body>

<div class='container'>

	<%= yield %>

</div>

</body>
</html>
